html, body {
  height: 100%;
}

.series-title {
  top: -25px;
  right: 10%;
  display: none;
}

.series-description {
  opacity: 0;
  top: 30%;
  left: 35%;
  border-radius: 10px;
}

.on .series-description {
  top: 30%;
  left: 35%;
  opacity: 1;
}

.helper-arrow {
  right: 33px;
  bottom: 29px;
}
.helper-arrow:hover {
  bottom: 18;
}

.photos div {
  width: 100%;
  background-size: 60%;
  height: 100%;
}
.photos .cover {
  background-image: url(../images/optimized/bleach.jpg);
  background-position: 75% 50%;
  position: relative;
}
.photos .page1 {
  background-image: url(../images/optimized/bleach02.jpg);
  background-position: 75% 50%;
}
.photos .page2 {
  background-image: url(../images/optimized/bleach03.jpg);
  background-position: 75% 48%;
}
.photos .page3 {
  background-image: url(../images/optimized/bleach04.jpg);
  background-position: 75% 50%;
}
.photos .page4 {
  background-image: url(../images/optimized/bleach05.jpg);
  background-position: 75% 68%;
}
.photos .page5 {
  background-image: url(../images/optimized/bleach06.jpg);
  background-position: 75% 50%;
}

/* 900px and under*/
@media only screen and (max-width: 900px) {
  .sidebar {
    font-size: 1.6em;
    transition: font-size 1ms ease-in;
    transition: left 200ms ease-in;
  }
}
/* 480 and */
@media only screen and (max-width: 480px) {
  .photos div {
    width: 100%;
    height: 100%;
    background-size: 85%;
  }

  .on .fixed a {
    color: white;
  }
}
