//
//
// SIDEBAR OPTIONS INCLUDE
//
// no background, no effects
// just slide out text
//
// or
//
// slightly opaque background behind
// slide out text
//
// or
//
// no sidebar background but
// jquery effect applying opacity
// to everything but nav text
//





.sidebar{
    background-color: transparent;
    position:fixed;
    top:0;
    left: -400px;
    height:100%;
    z-index:9999;
    min-width: 325px;
    overflow-x:auto;
    overflow-y:auto;
    font-family: "Compact Sans Serifs",tahoma,verdana,arial,sans-serif;
    font-size: 2.4em;
    font-weight: bold;
    line-height: 1.1em;
    color:black;
    transition: 200ms ease-in;
    ul{
    margin:50px 0 0 30px;
    }
    a{
        color:black;
        opacity: .6;
        &:hover{
            opacity: .7;
        }
    }
}

.show{
    display: inline;
    left: 0;
}
.hide{
    display: none;
}


.fixed{
    position: fixed;
    top: 91px;
    left:0;
    z-index: 99999;
    background-color: none;
    transition: 200ms ease-in;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    a{
        font-family: helvetica;
        font-weight: bold;
        text-decoration: none;
        color: black;
        opacity: .6;
        text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);

        &:hover{
            font-family: helvetica;
            font-weight: bold;
            text-decoration: none;
            color: black;
            opacity: .8;
        }
    }
}


.on{
    .hide{
        display: inline;
    }
    .show{
        display: none;
    }
    .fixed{
        left: 243px;
    }
}

// put div.screen somewhere in html
// if you want to do lightbox
// type sidebar instead
// of transparent (must also
// remove background-color from sidebar
// and add opacity:1 to nav text)
//

@media only screen and (max-width: 900px) {
    .sidebar{
        font-size: 1.6em;
        transition: font-size 1ms ease-in;
        transition: left 200ms ease-in;
    }

    .on{
        .fixed{
            left: 148px;
        }
    }
}

@media only screen and (max-width: 480px) {
    .on{
        .fixed{
            left: 198px;
        }
    }


.fixed{
    top: 103px;
    font-size: 1.2em;
    left: -35px;
    // -webkit-transform: rotate(0);
    // -moz-transform: rotate(0);
    // -o-transform: rotate(0);
    // -ms-transform: rotate(0);
    // transform: rotate(0);
    a{
        &:hover{
            opacity: .9;
        }
        .show{
            opacity:1;
        }
        .hide{
            opacity: .9;
        }
    }
}

    .sidebar{
        li{
            a{
                font-size: 1.3em;
                line-height: 1.3em;
                color:white;
                opacity: .9;
                &:hover{
                    opacity:1;
                }
            }
        }
        transition: font-size 1ms ease-in;
        transition: left 200ms ease-in;
    }


    .screen{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition: 300ms;
        background: rgba(0,0,0,0);
    }
    .on{
        .helper-arrow{
        opacity:0;
        transition: 80ms;
        }
        .screen{
        background: rgba(0,0,0,.7);
        }
    }
}
@media only screen and (max-width: 320px) {



.fixed{
    left: -20px;
    // -webkit-transform: rotate(0);
    // -moz-transform: rotate(0);
    // -o-transform: rotate(0);
    // -ms-transform: rotate(0);
    // transform: rotate(0);
    a{
        &:hover{
            opacity: .9;
        }
        .show{
            opacity:.9;
        }
        .hide{
        }
    }
}

    .sidebar{
        top: 0px;
        ul{
            margin-left: 12px;
            li{
                a{
                    color:white;
                    opacity: .9;
                    &:hover{
                        opacity:1;
                    }
                }
            }
        }
        transition: font-size 1ms ease-in;
        transition: left 200ms ease-in;
    }


    .screen{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition: 300ms;
        background: rgba(0,0,0,0);
    }
    .on{
        .helper-arrow{
            opacity:.1;
            transition: 80ms;
        }
        .screen{
        background: rgba(0,0,0,.7);
        }
    }
}
