@import 'reset';
@import 'sidebar';
@import 'bootstrap';
html, body{
    height: 100%;
}
//        //
// GLOBAL //
//        //

a{
    text-decoration: none;
    color:black;
    &:hover{
        text-decoration: none;
        color: black;
        cursor: pointer;
    }
}



//                //
// HELPER CLASSES //
//                //

.hidden{
    display: none;
}

.link-spanner{
    position: absolute;
    top:0;
    left: 0;
    width:100%;
    height:100%;
}



//      //
// BODY //
//      //


// PHOTOS

.photos{
    // border: 1px solid red;
    width: 100%;
    // margin-left: 65px;
    // margin-left: 355px;
    // border: 1px solid red;
    // background-image: url(images/greyfloral_@2X.png);
    &:first-child{
        margin-top: 0px;
    }
    &:last-child{
        padding-bottom: 0px
    }
    div{
        // border: 1px solid blue;
        position: relative;
        background-attachment: fixed;
        width: 100%;
        height: 100%;
        // margin-top: -1.8%;
        margin-right:20px;
        background:no-repeat fixed;
        background-position: 81% 0%;
        // background-height: 100%;
        background-size: contain;
        //  &:nth-child(2n){
        //     background-color: F7F7F7;
        // }

    }


// INSERT PHOTOS HERE

    .cover{
        background-image: url(../images/optimized/buddy.jpg);
    }
    .page1{
        background-image: url(../images/optimized/buddy01.jpg);

    }
    .page2{
        background-image: url(../images/optimized/buddy02.jpg);
        background-position: 83% 0px;

    }
    .page3{
        background-image: url(../images/optimized/buddy03.jpg);
    }
    .page4{
        background-image: url(../images/optimized/buddy04.jpg);
    }
    .page5{
        background-image: url(../images/optimized/buddy05.jpg);
    }
    .page6{
        background-image: url(../images/optimized/buddy06.jpg);
    }
    .page7{
        background-image: url(../images/optimized/buddy07.jpg);
        background-position: 83% -1%;
}
    .page8{
        background-image: url(../images/optimized/buddy08.jpg);
        background-position: 83% 0%;

    }

}

// DOWN ARROW


.arrow-container{
    position: relative;
    height: 100%;
    float: right;
    width: 25%;

}
.helper-arrow{
    clear: both;
    display: block;
    font-size: 110px;
    font-weight: bold;
    color: black;
    opacity: .3;
    position: absolute;
    right: 40;
    bottom: 35;
    z-index: 1;
    transition-property: opacity, bottom;
    transition-duration: .4s, .3s;
    transition-timing-function: linear, ease-in;
    &:hover{
        opacity: .6;
        bottom: 25;
        cursor: pointer;
    }
}

//
// MEDIA QUERIES
//

/* 900px and under*/
// resizing sidebar
@media only screen and (max-width: 900px) {
    .sidebar{
        font-size: 1.6em;
        transition: font-size 1ms ease-in;
        transition: left 200ms ease-in;
    }

    .on{
        .fixed{
            left: 168px;
        }
    }
}
// 320 and under
@media only screen and (max-width: 320px) {
.on{
    .fixed{
        a{
            color:white;
        }
    }
}
    .link-spanner{
        z-index:1;
    }
    .sidebar{
        ul{
        margin:50px 0 0 12px;
            li{
            margin-bottom: 1em;
            }
        }
    }
    .fixed{
        margin-top: 13.5%;
        margin-left: -30px;
    }


    .on{
        .fixed{
            left: 158px;
        }
    }
}

