@import 'reset';
@import 'sidebar';
@import 'bootstrap';
html, body{
    height: 100%;
}
//        //
// GLOBAL //
//        //

a{
    text-decoration: none;
    color:black;
    &:hover{
        text-decoration: none;
        color: black;
        cursor: pointer;
    }
}



//                //
// HELPER CLASSES //
//                //

.hidden{
    display: none;
}
.mobile-only{
    display: none;
}
.not-mobile{
    display: block;
}

.link-spanner{
    position: absolute;
    top:0;
    z-index: 1;
    left: 0;
    width:100%;
    height:100%;
}



//      //
// BODY //
//      //

.series-title{
    position: fixed;
    right: 15px;
    top: -2%;
    font-weight: bold;
    font-size: 4em;
    color: black;
    opacity: .6;
    z-index: 99999;
    transition: 500ms;
    &:hover{
        opacity: .9;
    }
}

.description-screen{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: rgba(255,255,255,.8);
    position: fixed;
    top: 0;
    left: 0;
    transition: opacity 750ms;
    opacity: 0;
    z-index: 1;
}

.series-description{
    font-weight: bold;
    position: fixed;
    margin: 0 auto;
    top: 25%;
    left: 35%;
    width: 50%;

}

.on{
    .description-screen{
    opacity: 1;
    z-index: 999;
    }

    .series-title{
    opacity: 1;
    }
}

// PHOTOS

.photos{
    width: 100%;
    &:first-child{
        margin-top: 0px;
    }
    &:last-child{
        padding-bottom: 0px
    }
    div{
        position: relative;
        background-attachment: fixed;
        width: 100%;
        height: 100%;
        margin-right:20px;
        background:no-repeat fixed;
        background-position: 81% 45%;
        background-size: 70%;

    }


// INSERT PHOTOS HERE

    .cover{
        background-image: url(../images/optimized/buddy.jpg);
    }
    .page1{
        background-image: url(../images/optimized/buddy01.jpg);

    }
    .page2{
        background-image: url(../images/optimized/buddy02.jpg);
        background-position: 83% ;

    }
    .page3{
        background-image: url(../images/optimized/buddy03.jpg);
    }
    .page4{
        background-image: url(../images/optimized/buddy04.jpg);
    }
    .page5{
        background-image: url(../images/optimized/buddy05.jpg);
    }
    .page6{
        background-image: url(../images/optimized/buddy06.jpg);
    }
    .page7{
        background-image: url(../images/optimized/buddy07.jpg);
        background-position: 83% 44%;
}
    .page8{
        background-image: url(../images/optimized/buddy08.jpg);
        background-position: 83% ;

    }

}

// DOWN ARROW



.arrow-container{
    position: relative;
    height: 100%;
    float: right;
    width: 25%;

}
.helper-arrow{
    clear: both;
    font-size: 110px;
    font-weight: bold;
    color: black;
    opacity: .3;
    position: absolute;
    right: 40;
    bottom: 35;
    z-index: 99;
    transition-property: opacity, bottom;
    transition-duration: .4s, .3s;
    transition-timing-function: linear, ease-in;
    &:hover{
        opacity: .6;
        bottom: 25;
        cursor: pointer;
    }
}

//
// MEDIA QUERIES
//

/* 900px and under*/
// resizing sidebar
@media only screen and (max-width: 900px) {
    .photos{
        div{
            background-attachment: scroll;
            background-size: 90%;
        }
    }
    .link-spanner{
        z-index:1;
    }
    .photos{
        div{
        background-size: 85%;
        }
    }
}

// 480 and under
@media only screen and (max-width: 480px) {
    .mobile-only{
        display: block;
    }
    .not-mobile{
        display:none;
        opacity: 0;
    }

    .on{
        .fixed{
            a{
            color:white;
            }
        }
    }
}
// 320 and under
@media only screen and (max-width: 320px) {
.on{
    .fixed{
        a{
            color:white;
        }
    }
}
    .link-spanner{
        z-index:1;
    }

    .fixed{
        margin-left: -15px;
    }

}

